# .npmrc (current version)

engine-strict=true

# This configuration file tells NPM to refuse to install packages if the current Node/npm version doesn't match the engines field. It fails fast and prevents subtle bugs.
